@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:wght@500&display=swap');

@media (max-width: 650px) {
  .experienceSection, .educationSection {
    flex-direction: column !important;
    width: 100%;
  }
  .experienceList, .educationList {
    padding: 0px !important;
  }

  .rightCol {
    width: 100% !important;
  }
  .experienceDate {
    text-align: right !important;
  }

  .projectItem {
    width: 90% !important;
    margin: 0px auto 60px auto !important;
  }

  .projectsSection {
    padding-bottom: 0px !important;
  }

  footer {
    flex-direction: column !important;
    margin-bottom: 0px !important;
  }

  .footerButtonsContainer {
    flex-direction: column !important;
    align-items: center !important;
    margin: auto !important;
  }

  .footerTitle {
    width: 100% !important;
    text-align: center;
  }

  .rrssItem {
    margin: 25px ;
    text-align: center;
    min-width: 90px !important;
  }
  .titleName {
    font-size: 18vw !important;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  transition: all 0.2s;
  background-color: #111111;
  scroll-behavior: smooth;
}

/* header */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 46px auto 165px auto;
}

.titleHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 300px;
}

.item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  color: #FFFFFF;
  margin-right: 25px;
}

.item a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-dark {
  background-color: transparent;
  border: none;
}


/* Fist Section */

.firstSection {
  max-width: 1300px;
  margin: auto;
}

.greetingText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0px;
}

.titleName {
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 110px;
  background: linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
  transition: all .3s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 18px 0px 24px -8px;
}


.subtitleDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: #F0F0F0;
  margin: 0px 0px 40px 0px;
}

.goToContact {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}


/* Experience section */

.experienceSection { 
  max-width: 1300px;
  margin: auto;
  margin-top: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 105px;
  border-bottom: 0.3px solid #C6C6C6;
}

.educationSection { 
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 105px 0px 80px 0px;
  border-bottom: 0.3px solid #C6C6C6;
}


.leftCol {
  width: 30%;
}

.experienceTitleSection {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rightCol {
  width: 70%;
}

.experienceItem {
  list-style: none;
  margin-bottom: 54px;
}

.titleDate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.experienceTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0px;
}

.experienceDate {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
  margin: 0px;
}

 .experienceUbication {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6CACE4;
}

.experienceDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
}


/* PROJECT SECTION */

.projectsSection {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 105px 0px 80px 0px;
  border-bottom: 0.3px solid #C6C6C6;
}

.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}

.projectItem {
  width: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 60px;
}

.projectTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  width: 80%;
}
.projectTitleLinksContainer, .projectLinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.projectLinksContainer {
  margin-top: 1px;
  width: 20%;
}

.projectDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
}

.projectTags {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #6CACE4;
}






/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 103px auto 128px auto;
}

.footerTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 20%;
  margin-top: 0px;
}

.footerButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.rrssItem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
  text-decoration: none;
  padding: 13px 25px;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
}


.projectImage {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.themeWhiteBody {
  transition: all 0.2s;
  background-color: #ffffff !important;
}

.themeWhite{
  transition: all 0.2s;
  color: #000000 !important;
};
